/*Ejercicio 1*/
.header {
    float: right;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    
}
.h-item1 {
    float: right;
    margin: 20px;
    margin-right: 50px;
}
.h-item2 {
    float: right;
    margin: 20px
}
.h-item3 {
    float: right;
    margin: 20px
}
.h-item4 {
    float: right;
    margin: 20px
}
.h-img {
    float: left;
    margin-left: 50px;
    margin-top: -15px;
    padding: 5px;
    width: 150px;
    height: 100%;
}
/*Ejercicio2*/

.main {
    width: 100%;
    position: absolute;
    margin-top: 50px;
}

.m-img{
    position: relative;
    width: 100%;

}
.m-item1{
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 70px;
    color: white;
}
.m-item2{
    position: absolute;
    top: 55%;
    left: 15%;
    font-size: 25px;
    color: white;
}
.m-item3{
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 15px;
    color: white;
    background: cornflowerblue;
    padding: 5px;
    border-radius: 0.5em
}
.m-item4{
    position: absolute;
    top: 50%;
    left: 1%;
    background: white;
    padding: 5px;
    border-radius: 2em

}
.m-item5{
    position: absolute;
    top: 50%;
    right: 1%;
    background: white;
    padding: 5px;
    border-radius: 2em
}

/*Ejercicio 3*/
/*Ejercicio 4*/
.fila {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 250px;
}
